/*======================================================
Joonik.com written by - Jorge Luis Monroy. 2016 
=====================================================*/
#calculator {
  padding: 30px 0; }
  #calculator .container h1 {
    text-align: center;
    margin-bottom: 0; }
  #calculator .container h2 {
    text-align: center;
    margin: 0 0 30px 0; }
  #calculator .container .body-calculator {
    width: 53%;
    min-width: 677px;
    margin: 0 auto;
    -webkit-box-shadow: 5px 4px 9px -2px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 5px 4px 9px -2px rgba(0, 0, 0, 0.69);
    box-shadow: 5px 4px 9px -2px rgba(0, 0, 0, 0.69); }
    @media (max-width: 767px) {
      #calculator .container .body-calculator {
        min-width: 400px; } }
    @media (max-width: 460px) {
      #calculator .container .body-calculator {
        min-width: 341px; } }
    @media (max-width: 400px) {
      #calculator .container .body-calculator {
        min-width: 300px; } }
    #calculator .container .body-calculator .row:first-child {
      background-color: #F6F6F6;
      padding: 20px 0;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
      -webkit-box-shadow: inset 0px 1px 12px -2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 0px 1px 12px -2px rgba(0, 0, 0, 0.75);
      box-shadow: inset 0px 1px 12px -2px rgba(0, 0, 0, 0.75); }
      #calculator .container .body-calculator .row:first-child span#display {
        background-color: #B7C8CC;
        color: #091312;
        display: block;
        width: 91%;
        height: 73px;
        margin: 0 auto;
        line-height: 0.9;
        font-size: 3.5714em;
        text-align: right;
        padding: 5px;
        border-radius: 8px;
        border: 5px solid #E8E8E9;
        border-top: 5px solid #BDBDBD; }
        #calculator .container .body-calculator .row:first-child span#display .no-show {
          visibility: hidden; }
    #calculator .container .body-calculator .row:last-child {
      background-color: #D2D2D2;
      padding: 10px 20px;
      text-align: center;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
      -webkit-box-shadow: inset 0px -2px 12px -2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 0px -2px 12px -2px rgba(0, 0, 0, 0.75);
      box-shadow: inset 0px -2px 12px -2px rgba(0, 0, 0, 0.75); }
      #calculator .container .body-calculator .row:last-child > div {
        padding: 0;
        text-align: right; }
        #calculator .container .body-calculator .row:last-child > div button {
          display: inline-block;
          width: 80px;
          height: 35px;
          margin: 10px;
          margin: 5px;
          border-radius: 12px; }
          @media (max-width: 460px) {
            #calculator .container .body-calculator .row:last-child > div button {
              width: 70px; } }
          @media (max-width: 400px) {
            #calculator .container .body-calculator .row:last-child > div button {
              width: 59px; } }
        #calculator .container .body-calculator .row:last-child > div .cero {
          width: 174px;
          text-align: left;
          padding-left: 33px; }
          @media (max-width: 460px) {
            #calculator .container .body-calculator .row:last-child > div .cero {
              width: 154px; } }
          @media (max-width: 400px) {
            #calculator .container .body-calculator .row:last-child > div .cero {
              width: 132px; } }
        #calculator .container .body-calculator .row:last-child > div .equal {
          height: 80px;
          background-color: #E27142;
          color: #fff; }
        #calculator .container .body-calculator .row:last-child > div .btn-gCalculator {
          background-color: #939393;
          color: #fff; }
        #calculator .container .body-calculator .row:last-child > div .btn-wCalculator {
          background-color: #EEEEEE; }
        #calculator .container .body-calculator .row:last-child > div .operators {
          background: #88A991;
          color: #fff; }
        #calculator .container .body-calculator .row:last-child > div:last-child {
          text-align: left; }
          #calculator .container .body-calculator .row:last-child > div:last-child > div {
            padding: 0; }

/*# sourceMappingURL=main.css.map */
